[Desktop Entry]
Name=Multilingual terminal (mlclient)
Name[he]= mlclient 
Comment=Multi Lingual TERMinal emulator on X
Exec=mlclient
Icon=/usr/share/icons/Adwaita/512x512/apps/utilities-terminal.png
Terminal=false
Type=Application
Categories=System;TerminalEmulator
GenericName=Terminal

