[Desktop Entry]
Name=mlterm
Name[he]= mlterm 
Comment=Multi Lingual TERMinal emulator on X
Exec=mlterm
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator
GenericName=Terminal

