set imap_user = "your_address@gmail.com"
set imap_pass = "your_imap_password"
set smtp_url  = "smtp://your_address@smtp.gmail.com:587/"
set smtp_pass = "your_imap_password"
set from      = "your_address@gmail.com"
set realname  = "Pico Taro"