[user]
	name = Masashi Miyaura
	email = masasam@users.noreply.github.com
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[alias]
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
	nevermind = !git reset --hard HEAD && git clean -d -f
	fixup = commit --amend -C HEAD
	who = shortlog -s --
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	precommit = diff --cached --diff-algorithm=minimal -w
	unmerged = diff --name-only --diff-filter=U
	remotes = remote -v
[gui]
	fontui = -family helvetica -size 9 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family Courier -size 12 -weight bold -slant roman -underline 0 -overstrike 0
[core]
	editor = emacsclient
	pager = less
	excludesfile = ~/.gitignore

[push]
	default = upstream
[pager]
	log = /usr/share/git/diff-highlight/diff-highlight | less -R
	show = /usr/share/git/diff-highlight/diff-highlight | less -R
	diff = /usr/share/git/diff-highlight/diff-highlight | less -R
[diff]
	compactionHeuristic = true
[ghq]
    root = ~/src
[ghq "https://gitlab.com/"]
     vcs = git
[ghq "https://bitbucket.org/"]
     vcs = git
[gpg]
	program = gpg2
[url "https://"]
    insteadOf = git://
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
