!! ~/.Xresources

!! emacs
!Emacs*useXIM: false

!!
!! rxvt-unicode (urxvt)
!!

Xft.autohint:   0
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
URxvt*imLocale: en_US.UTF-8
URxvt*iso14755:	false

URxvt.geometry:             147x38
URxvt.scrollBar:  	    false
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false
URxvt.saveLines:            2048
URxvt.lineSpace:            0
URxvt.letterSpace:  	    0

!! Font
URxvt.font:              xft:Cica:pixelsize=26.7:antialiase=true
URxvt.boldFont:          xft:Cica:bold:pixelsize=26.7:antialiase=true
URxvt.italicFont:        xft:Cica:italic:pixelsize=26.7:antialiase=true
URxvt.bolditalicFont:    xft:Cica:bold:italic:pixelsize=26.7:antialiase=true

!! Color Scheme
URxvt.color0:               #073642
URxvt.color1:               #dc322f
URxvt.color2:               #859900
URxvt.color3:               #b58900
URxvt.color4:               #268bd2
URxvt.color5:               #d33682
URxvt.color6:               #2aa198
URxvt.color7:               #eee8d5
URxvt.color8:               #002b36
URxvt.color9:               #cb4b16
URxvt.color10:              #586e75
URxvt.color11:              #657b83
URxvt.color12:              #839496
URxvt.color13:              #6c71c4
URxvt.color14:              #93a1a1
URxvt.color15:              #fdf6e3
URxvt.foreground:           #dcdccc
URxvt.background:           #002b36

! misc
URxvt.perl-ext-common:		default,clipboard,matcher
URxvt.keysym.C-C:		perl:clipboard:copy
URxvt.keysym.C-V:		perl:clipboard:paste
URxvt.url-launcher:		/usr/bin/xdg-open
URxvt.matcher.button:		1
URxvt.url-select.underline:	true
URxvt.matcher.rend.0: Uline Bold fg5


!!
!! xterm
!!

xterm*VT100.translations:  #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*geometry:		   160x50
XTerm*termName:        	   xterm-256color
XTerm*utf8:		   1
XTerm*locale:		   true
XTerm*selectToClipboard:   true
XTerm*cjkWidth:		   true
XTerm*saveLines:	   2048
XTerm*lineSpace:           0
XTerm*letter_space:	   0
xterm*faceName: 	   Cica:size=17.5:style=Regular:antialias=true
xterm*faceNameDoublesize:  Cica:size=17.5:style=Regular:antialias=true
xterm*faceSize: 	   17.5
xterm*borderWidth: 	   0

!! Color Scheme
xterm*color0:              #073642
xterm*color1:              #dc322f
xterm*color2:              #859900
xterm*color3:              #b58900
xterm*color4:              #268bd2
xterm*color5:              #d33682
xterm*color6:              #2aa198
xterm*color7:              #eee8d5
xterm*color8:              #002b36
xterm*color9:              #cb4b16
xterm*color10:             #586e75
xterm*color11:             #657b83
xterm*color12:             #839496
xterm*color13:             #6c71c4
xterm*color14:             #93a1a1
xterm*color15:             #fdf6e3
xterm*foreground:          #dcdccc
xterm*background:          #002b36
