[Desktop Entry]
Name=AutoStart
GenericName=Auto Start Script
Comment=no comment
Exec=${HOME}/.auto_start.sh
Icon=utilities-terminal
Terminal=true
Type=Application
StartupNotify=false
