ansible==2.7.6
ansible-lint==4.0.1
anytree==2.4.3
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.1.0
attrs==18.2.0
Automat==0.7.0
autopep8==1.4.3
awscli==1.16.92
backcall==0.1.0
bcrypt==3.1.6
beautifulsoup4==4.7.1
bleach==3.1.0
botocore==1.12.82
btrfsutil==1.1.0
cached-property==1.5.1
cachetools==3.0.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cheat==2.3.1
cli-helpers==1.1.0
Click==7.0
colorama==0.4.1
configobj==5.0.6
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
Django==2.1.5
dnspython==1.16.0
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.3
Faker==1.0.1
flake8==3.6.0
future==0.17.1
gif-for-cli==1.1.1
gitdb2==2.0.5
GitPython==2.1.11
goobook==3.2.dev0
google-api-python-client==1.7.7
google-auth==1.6.2
google-auth-httplib2==0.0.3
graph-cli==0.1.2
greenlet==0.4.15
httpie==1.0.2
httplib2==0.12.0
humanize==0.5.1
hyperlink==18.0.0
idna==2.8
importmagic==0.1.7
incremental==17.5.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso-639==0.4.5
iso3166==0.9
isodate==0.6.0
isort==4.3.4
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
jupyterthemes==0.20.0
kitchen==1.2.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lensfun==0.3.2
lesscpy==0.13.0
lit==0.7.1.dev0
litecli==1.0.0
louis==3.8.0
lxml==4.3.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mps-youtube==0.2.8
msgpack==0.6.0
mycli==1.19.0
nbconvert==5.4.0
nbformat==4.4.0
neovim==0.3.1
notebook==5.7.4
numpy==1.16.0
oauth2client==4.1.3
packaging==18.0
pafy==0.5.4
pandas==0.23.4
pandocfilters==1.4.2
paramiko==2.4.2
parsel==1.5.1
parso==0.3.1
pbr==5.1.1
pexpect==4.6.0
pgcli==2.0.2
pgspecial==1.11.5
pickleshare==0.7.5
Pillow==5.4.1
pipenv==2018.11.26
pluggy==0.8.1
ply==3.11
progressbar2==3.39.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycodestyle==2.4.0
pycparser==2.19
pycryptodome==3.7.3
PyDispatcher==2.0.5
pydoc-utils==1.0.1
pydocstyle==3.0.0
pyflakes==2.0.0
Pygments==2.3.1
PyGObject==3.30.4
PyHamcrest==1.9.0
pylibmc==1.6.0
pylint==2.2.2
PyMySQL==0.9.3
PyNaCl==1.3.0
pynvim==0.3.2
pyOpenSSL==18.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.7.5
python-etcd==0.4.5
python-jsonrpc-server==0.1.2
python-language-server==0.21.5
python-utils==2.3.0
pytz==2018.9
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
queuelib==1.5.0
redis==3.0.1
requests==2.21.0
rope==0.11.0
rsa==4.0
rtv==1.24.0
s3transfer==0.1.13
scikit-learn==0.20.2
scipy==1.2.0
Scrapy==1.5.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.1.10
simplejson==3.16.1
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
soupsieve==1.7.2
speedtest-cli==2.0.2
sqlparse==0.2.4
sshuttle==0.78.4
stevedore==1.30.0
streamlink==0.14.2
tabulate==0.8.2
team==1.0
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
text-unidecode==1.2
texttable==1.6.0
tldr==0.4.4
tornado==5.1.1
traitlets==4.3.2
trash-cli==0.17.1.14
truffleHog==2.0.98
truffleHogRegexes==0.0.7
Twisted==18.9.0
uritemplate==3.0.0
urllib3==1.24.1
vimiv==0.9.1
virtualenv==16.2.0
virtualenv-clone==0.5.0
virtualenvwrapper==4.8.2
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
widgetsnbextension==3.4.2
wrapt==1.11.1
x256==0.0.3
yapf==0.25.0
youtube-dl==2019.1.17
zope.interface==4.6.0
