ansible==6.4.0
ansible-core==2.13.4
apparmor==3.1.1
appdirs==1.4.4
asciidoc==10.2.0
asn1crypto==1.5.1
attrs==22.1.0
autocommand==2.2.1
bcrypt==4.0.0
blockdiag==3.0.0
btrfsutil==5.19.1
CacheControl==0.12.11
cached-property==1.5.2
certifi==2022.9.24
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
contextlib2==21.6.0
cryptography==38.0.1
cssselect==1.1.0
Cython==0.29.32
defusedxml==0.7.1
diffoscope==222
distlib==0.3.6
distro==1.7.0
dnspython==2.2.1
docker==6.0.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.19
fabric==2.7.1
fluidity-sm==0.2.1
funcparserlib==1.0.0
future==0.18.2
html2text==2020.1.16
httpie==3.2.1
idna==3.4
importlib-metadata==4.9.0
inflect==6.0.0
invoke==1.6.0
jaraco.context==4.1.2
jaraco.functools==3.5.2
jaraco.text==3.9.1
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.16.0
lensfun==0.3.3
lexicon==2.0.1
LibAppArmor==3.1.1
libarchive-c==4.0
lit==14.0.6.dev0
louis==3.23.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
mcomix==2.0.2
meson==0.63.2
more-itertools==8.13.0
msgpack==1.0.4
multidict==6.0.2
nspektr==0.4.0
numpy==1.23.3
ordered-set==4.1.0
packaging==21.3
paramiko==2.11.0
pep517==0.13.0
Pillow==9.2.0
platformdirs==2.5.2
ply==3.11
progress==1.6
prompt-toolkit==3.0.31
psutil==5.9.2
pwquality==1.4.4
pycairo==1.21.0
pycparser==2.21
pydantic==1.10.2
Pygments==2.13.0
PyGObject==3.42.2
PyNaCl==1.4.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyrsistent==0.19.0
PySocks==1.7.1
python-dotenv==0.21.0
python-magic==0.4.27
PyYAML==6.0
requests==2.28.1
requests-toolbelt==0.9.1
resolvelib==0.8.1
retrying==1.3.3
rfc3987==1.3.8
rich @ file:///build/python-rich/src/rich-12.5.1/dist/rich-12.5.0-py3-none-any.whl
screenkey==1.5
seqdiag==3.0.0
sh==1.14.3
six==1.16.0
sshuttle==1.1.1
TBB==0.2
team==1.0
tenacity==8.1.0
texttable==1.6.4
tlsh==4.5.0
toml==0.10.2
tomli==2.0.1
trove-classifiers==2022.9.26
typing_extensions==4.3.0
urllib3==1.26.12
validate-pyproject==0.10.1
vimiv==0.9.1
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.1
youtube-dl==2021.12.17
zipp==3.8.1
