window#waybar {
    background: transparent;
}

#clock,
#workspaces,
#status {
    background: #121111;
    border: 1px solid #8899ff;
    border-radius: 10px;
    padding: 0 7px;
    margin: 3px 0 0 0;
}

/* Display entire modules-right as one rounded box */
#status {
    padding: 0;
}

/* Do not add individual frames, rounded corners, or gaps to each module within a group. */
#status #pulseaudio,
#status #backlight,
#status #battery,
#status #bluetooth,
#status #tray,
#status #custom-power {
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0 7px;
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 22px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
  all: initial;
  padding: 0 8px;
  margin: 0 1.5px;
  min-width: 10px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray menu {
  background: #121111;
  opacity: 0.85;
  border: 2px solid;
  border-radius: 6px;
  border-color: #33ccff;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 8px;
}

#clock {
  margin-left: 8.75px;
  margin-right: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-recorder {
  min-width: 22px;
  margin-left: 8.75px;
  font-size: 22px;
}

workspaces button {
  border-radius: 5px;
  padding: 1px 1px;
  margin: 1px 1px;
  border: 0px;
}

#workspaces button.active {
  background-color: #8899ff;
  border-radius: 5px;
  min-width: 10px;
}

#workspaces button:hover {
  background-color: #8899ff;
  border-radius: 5px;
}
