window#waybar {
    background: transparent;
}

#clock,
#battery,
#pulseaudio,
#backlight,
#tray,
#bluetooth,
#custom-power,
#workspaces {
	background: #121111;
    border: 1px solid #8899ff;
    border-radius: 10px;
    padding: 0 10px;
    margin: 11px 0 0 0;
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 22px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
  all: initial;
  padding: 0 8px;
  margin: 0 1.5px;
  min-width: 10px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray menu {
  background: #121111;
  opacity: 0.85;
  border: 2px solid;
  border-radius: 6px;
  border-color: #33ccff;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 8px;
}

#clock {
  margin-left: 8.75px;
  margin-right: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-recorder {
  min-width: 22px;
  margin-left: 8.75px;
  font-size: 22px;
}

#custom-recorder.active {
  color: #a55555;
}

workspaces button {
  border-radius: 5px;
  padding: 1px 1px;
  margin: 1px 1px;
  border: 0px;
}

#workspaces button.active {
  background-color: #8899ff;
  border-radius: 5px;
  min-width: 10px;
}

#workspaces button:hover {
  background-color: #8899ff;
  border-radius: 5px;
}
