/*.elc
/.cask
/.cache
/.edbi-ds-history
/.python-environments/
/abbrev_defs
/ac-comphist.dat
/async-bytecomp.log
/auto-save-list
/bookmarks
/workspace
/company-statistics-cache.el
/custom.el
/el-get/
/ellama-sessions/
/elpa
/emms/
/emojis/
/eshell/
/flycheck_*
/games/
/hackernews
/haskell-fun/
/history
/ido.last
/irony/
/network-security.data
/newsticker/
/notes
/projectile-*
/projectile.cache
/recentf*
/request/
/smex-*
/tldr/
/transient/
/tramp
/tutorial
/url/
/var/
/lsp-cache/
forge-database.sqlite
forge-database-*
.lsp-session-v1
kkcrc
.dap-breakpoints