/elpa
/*.elc
/.cask
/custom.el
/.edbi-ds-history
/abbrev_defs
/ac-comphist.dat
/async-bytecomp.log
/company-statistics-cache.el
/auto-save-list
/el-get/
/emms/
/eshell/
/flycheck_*
/games/
/haskell-fun/
/network-security.data
/newsticker/
/notes
/projectile-*
/recentf*
/request/
/smex-*
/tramp
/tutorial
/url/
/var/
/ido.last
/history
/bookmarks
/projectile.cache
/.python-environments/
/irony/
